*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: italicbold ;
    src: url(fonts/Poppins-BoldItalic.ttf);
}
@font-face {
    font-family: norlmalnormal ;
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: norlmalbold ;
    src: url(fonts/Poppins-ExtraBold.ttf);
}

:root{
    --branco-primario: hsl(0, 0%, 100%);
    --roxo-primario: hsl(259, 100%, 65%);
}

body{
    background-color: hsl(0, 0%, 94%);
}
.center{
width: 90%;
margin: 0px auto;
}

main{
  height: 400px;
  width: 500px;
  background-color: var(--branco-primario);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 15px 15px 90px 15px;
}

hr{
    width: 85%;
    margin: 20px auto;
}


form{
    display: flex;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

form div{
    margin:10px ;
}

section div p{
    font-family: norlmalbold;
    color: gray;
}


form input{
    width: 95px;
    height: 42px;
    font-size: 25px;
    padding-left: 3px;
    border: 1px solid gray;
    border-radius: 3px;
    font-family: norlmalnormal;
}

#resultados h1{
    display: inline-block;
    font-size: 80px;
    font-family: italicbold;
    margin-left: 10px;
}

#resultados div{
    margin: -30px 0px;
}

.numeros{
    color:var(--roxo-primario);
}

#botao{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: var(--roxo-primario);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 110px;
    right: 0px;
    cursor: pointer;
}

#botao:hover{
    background-color: black;
}

#botao img{
    height: 35px;
}

@media screen and (max-width: 390px){
    main{
        width: 95%;
        height: 450px;
    }
    #resultados h1{
        font-size: 70px;
    }
    #resultados{
        margin-top: 45px;
    }
    #botao{
        right: 50%;
        left: 50%;
        top: 140px;
        height: 70px;
        width: 70px;
        border-radius: 35px;
    }
    hr{
        margin: 50px auto;
    }
    form input{
        border-radius: 10px;
    }
}